.container {
  margin-top: 56px;
  width: 100%;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
